{% extends "user/core/skeleton.twig" %}

{% block maincontent %}
 <div id="main" role="main" class="main">
<div class="x_content">
<center><h1>Error Registration, contact administrator</h1></center>
</div></div>
{% endblock %}